
@keyframes pchppFlash {

	20% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	80% {
		opacity: 1;
	}
}

:root {
	--pchpp-color-amazon: #f6a306;
	--pchpp-color-rakuten: #cf4944;
	--pchpp-color-yahoo: #4e8fde;
}


// memo: フロントでも読み込ませる
.pochipp-box {
	position: relative;
	max-width: 880px;
	margin: 2em auto;
	padding: 24px;
	color: #353535;
	font-size: 16px;
	background: #fff;
	box-shadow: 0 1px 8px -4px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.02);


	@include pc {
		grid-template-areas:
			"areaImg areaBody"
			"areaImg areaBtns";
	}

	@include tab {
		display: grid;
		grid-gap: 0 24px;
		grid-template-areas:
			"areaImg areaBody"
			"areaBtns areaBtns";
		grid-template-rows: auto auto;
		grid-template-columns: 100px 1fr;
	}

	@include mobile {
		width: 88%;
		font-size: 15px;
	}

	.pochipp-box__logo {
		position: absolute;
		right: 3px;
		bottom: 4px;
		display: flex;
		// flex-direction: column;
		align-items: center;
		justify-content: center;
		opacity: 0.2;

		img {
			display: block;
			width: 12px;
			height: 12px;
		}

		span {
			display: block;
			font-size: 10px;
			line-height: 1;
			// margin-left: 8px;
			transform: scale(0.8);
		}
	}
}

.pochipp-box__image {
	grid-area: areaImg;
	margin: 0;
	padding: 0;

	a {
		display: block;
		width: 100%;
		text-decoration: none !important;
	}

	img {
		display: block;
		width: 100%;
		height: auto;
		// border: 1px solid #f0f0f0;
	}


	@include mobile {
		width: 100%;
		margin-bottom: 16px;

		img {
			width: 40%;
			max-width: 120px;
			margin: 0 auto;
		}
	}
}

.pochipp-box__body {
	grid-area: areaBody;
	margin: 0;
	padding: 0;

	@include mobile {
		width: 100%;
		padding: 0;
	}
}

.pochipp-box__title {
	margin: 0 0 8px;
	font-weight: bold;
	line-height: 1.6;

	a {
		display: block;
		width: 100%;
		color: inherit;
		text-decoration: none !important;
	}
}

.pochipp-box__info {
	margin: 4px 0 0;
	font-size: 12px;
	line-height: 1.5;
	opacity: 0.75;
}

.pochipp-box__price {
	margin: 4px 0 0;
	font-size: 13px;
	line-height: 1.5;

	span {
		font-size: 10px;
		opacity: 0.75;
	}
}

.pochipp-box__btns {
	position: relative;
	left: -4px;
	display: flex;
	flex-wrap: wrap;
	grid-area: areaBtns;
	align-items: flex-end;
	width: calc(100% + 8px);
	margin: 12px 0 0;
	padding: 0;
}

.pochipp-box__btnwrap {
	min-width: max-content;
	padding: 4px;

	@media screen and (min-width: 1100px) {

		[data-max-column="fit"] > & {
			flex: 1;
			max-width: 50%;
			font-size: 15px;
		}

		[data-max-column="3"] > & {
			flex: 0 0 33.3%;
			font-size: 15px;
		}

		[data-max-column="2"] > & {
			flex-basis: 50%;
			max-width: 50%;
		}
	}

	@media screen and (max-width: 1099px) {
		flex-basis: 50%;
		max-width: 50%;
	}

	@include mobile {
		flex-basis: 100%;
		max-width: 100%;
		// padding: 6px 0;
	}
}


// 少し詳細度強めておく
.pochipp-box .pochipp-box__btn {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 12px;
	font-size: 1em;
	line-height: 1;

	// @include mobile {
	// 	padding: 12px;
	// }
}

.pochipp-box__btn {
	margin: 0 !important;
	letter-spacing: 0.5px;
	text-align: center;
	text-decoration: none !important;

	&:hover {
		opacity: 0.8;
	}

}


// border-radius: 40px !important;

.pochipp-box__saleInfo {
	font-size: 12px;
	line-height: 1;
	text-align: center;

	[data-sale-effect="flash"] & {
		animation: 1.5s linear 0s infinite pchppFlash;
	}

	@include mobile {
		font-size: 11px;
	}

	.pochipp-box__btnwrap.-amazon & {
		color: var(--pchpp-color-amazon);
	}

	.pochipp-box__btnwrap.-rakuten & {
		color: var(--pchpp-color-rakuten);
	}

	.pochipp-box__btnwrap.-yahoo & {
		color: var(--pchpp-color-yahoo);
	}

	&.-top {
		margin-bottom: 4px;
		font-weight: bold;
	}

	// &.-inner {
	// 	margin-top: -4px;
	// 	margin-bottom: 4px;
	// 	padding: 2px 8px;
	// 	background-color: #fff;
	// }
}


// tab以上
// @include tab {

// 	[data-sale-text-pc="top"] .pochipp-box__saleInfo.-inner,
// 	[data-sale-text-pc="inner"] .pochipp-box__saleInfo.-top {
// 		display: none;
// 	}
// }
// // モバイルサイズ
// @include mobile {

// 	[data-sale-text-sp="top"] .pochipp-box__saleInfo.-inner,
// 	[data-sale-text-sp="inner"] .pochipp-box__saleInfo.-top {
// 		display: none;
// 	}
// }


// --------------------------------------------------------
.pochipp-box[data-btn-radius="off"] {
	// border: solid 1px #ededed;
	border-radius: 1px;

	.pochipp-box__image img,
	.pochipp-box__btn,
	.pochipp-box__saleInfo {
		border-radius: 1px;
	}
}


.pochipp-box[data-btn-radius="on"] {
	border-radius: 4px;

	.pochipp-box__image img {
		border-radius: 4px;
	}

	.pochipp-box__btn,
	.pochipp-box__saleInfo {
		border-radius: 40px;
	}

}

.pochipp-box[data-btn-style="default"] {

	.pochipp-box__btn {
		position: relative;
		overflow: hidden;
		color: #fff;
		background-color: #3c3c3c;
		// box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.2), inset 0 0 1px rgba(#fff, 0.2);
		box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.2);

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			background: linear-gradient(175deg, #fff, transparent 50%, transparent 70%, #555);
			opacity: 0.1;
			content: "";
		}
	}

	.-amazon > .pochipp-box__btn {
		background: var(--pchpp-color-amazon);
	}

	.-rakuten > .pochipp-box__btn {
		background: var(--pchpp-color-rakuten);
	}

	.-yahoo > .pochipp-box__btn {
		background: var(--pchpp-color-yahoo);
	}

	.-custom > .pochipp-box__btn {
		background: var(--pchpp-color-custom);
	}
}

.pochipp-box[data-btn-style="outline"] {

	.pochipp-box__btn {
		background: none;
		box-shadow: inset 0 0 0 1px currentColor;
	}

	.-amazon > .pochipp-box__btn {
		color: var(--pchpp-color-amazon);
	}

	.-rakuten > .pochipp-box__btn {
		color: var(--pchpp-color-rakuten);
	}

	.-yahoo > .pochipp-box__btn {
		color: var(--pchpp-color-yahoo);
	}

	.-custom > .pochipp-box__btn {
		color: var(--pchpp-color-custom);
	}
}
