.post-type-pochipps .block-editor-block-contextual-toolbar-wrapper {
	display: none;
}

// 設定用ブロック
.pochipp-block--setting {
	max-width: 820px !important;
	padding: 16px 24px 24px;
	background-color: #fdfdfd;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

	// &::after {
	// 	content: none !important;
	// }


	.__preview {
		margin: 0;
		padding: 8px 0;

		.pochipp-box {
			margin: 0 !important;
		}

		&.-null {
			padding: 24px;
			text-align: center;
			border: solid 1px #e8e8e8;

			p {
				margin: 0 !important;
			}
		}

		.__helpText {
			margin-top: 8px;
			color: #666;
			font-size: 12px;
			text-align: right;
		}
	}

	&[data-sticky="1"] .__preview {
		position: sticky;
		top: 0;
		z-index: 99;
		background-color: rgba(#fff, 0.8);

		.__helpText {
			display: none;
		}
	}

	.__settings {
		margin-top: 24px;
	}

	.__btns {
		display: flex;
		justify-content: space-between;
		margin: 0 0 40px;

		&.-updating {
			pointer-events: none;

			.__searchBtn {
				opacity: 0.5;
			}

			.__updateBtn svg {
				animation: 2s linear infinite pchppRotation;
			}
		}
	}

	.__searchBtn {
		display: flex;
		justify-content: center !important;
		width: 100%;
		height: auto;
		padding: 8px !important;
		font-size: 16px;
		// box-shadow: inset 0 0 2px rgba(255, 255, 255, 1), inset 1px 1px 4px -1px rgba(255, 255, 255, 0.1), 1px 1px 12px -2px rgba(0, 0, 0, 0.2);
	}

	.__updateBtn {
		display: flex;
		justify-content: center !important;
		width: 100%;
		height: auto;
		margin-left: 16px;
		padding: 8px !important;
		font-size: 16px;
		// box-shadow: inset 0 0 2px rgba(255, 255, 255, 1), inset 1px 1px 4px -1px rgba(255, 255, 255, 0.1), 1px 1px 12px -2px rgba(0, 0, 0, 0.2);
	}


	.__fields {

		margin-top: 24px;
		border-top: dashed 1px #dedede;

		.components-base-control {
			margin: 24px 0 0;
			padding-right: 2px;

			&.-radio {

				.components-base-control__field {
					display: flex;
					flex-wrap: wrap;
				}

				.components-base-control__label {
					flex-basis: 100%;
				}

				.components-radio-control__option {
					margin-right: 16px;
					margin-bottom: 8px;
				}
			}
		}

		.components-base-control__label {
			margin-left: 1px;
			padding-left: 6px;
			font-size: 14px;
			line-height: 1.5;
			border-left: 2px solid;

			& + .components-base-control {
				margin-top: 8px;
			}
		}


	}

	.__note {
		color: #555;
		font-size: 12px;

		&::before {
			margin-right: 4px;
			content: "";
		}
	}


	// 確認用 dump データ
	.pochipp-block-dump {
		padding: 20px;
		font-size: 13px;
		background: #f7f7f7;
	}
}
