.pochipps_page_pochipp_settings {

	#wpcontent {
		padding: 0 20px;
	}
}

.pchpp-setting {

	.pchpp-setting__tabs {

		.nav-tab {
			border-radius: 2px 2px 0 0;
		}
	}

	.pchpp-setting__body {
		padding: 0 8px;
	}

	h1.pchpp-setting__title {
		padding-top: 8px;
		font-size: 2em;
	}

	h2 {
		margin: 2em 0 1em;
		padding: 8px 4px;
		font-size: 1.75em;
		border-bottom: 2px solid #333;
	}

	// .pchpp-setting__section_help{}

	.pchpp-setting__h3 {
		margin: 2em 0 1em;
		padding: 8px 16px;
		font-size: 1.25em;
		border-left: 3px solid #333;
	}

	td > :first-child {
		margin-top: 0 !important;
	}

	.form-table {
		display: block;

		th {
			display: none;
		}

		tbody,
		tr,
		td {
			display: block;
		}
	}

	.tab-contents:not(.is-active) {
		display: none;
	}

	.nav-tab.is-active {
		background: #fff;
	}

}

.pchpp-setting__div {
	padding-left: 16px;
}

.pchpp-setting__p {
	line-height: 1.6;
}


.pchpp-setting__dl {
	margin-top: 24px;

	dt {
		margin: 0 0 1em;
		font-weight: 700;
	}

	dd {
		margin: 0;

		&.-flex {
			display: flex;

			.pchpp-setting__field {
				margin-right: 16px;
			}
		}
	}

	@media only screen and (min-width: 1000px) {
		display: flex;

		dt {
			flex-basis: 13em;
			flex-shrink: 0;
			margin: 0 1em 0 0;
			padding-top: 4px;
		}

		dd {
			flex: 1 1 auto;
			margin: 0;
		}
	}

}

.pchpp-setting__field {

	textarea {
		width: 100%;
		max-width: 600px;
	}

	&.-radio {

		label {
			display: block;
			padding: 4px 0;
		}
	}

	&.-checkbox {

		[type="checkbox"] {
			margin: 0 !important;
		}

		label {
			margin-left: 4px;
		}
	}
}

p.pchpp-setting__desc {
	margin-top: 0.5em !important;
	font-size: 0.9em !important;
}
