@import "./common/**";

// ブロック用CSS

.pochipp-block-preview {
	margin: 24px 0;
}
// 確認用 dump データ
.pochipp-block-dump {
	padding: 20px;
	font-size: 13px;
	background: #f7f7f7;
}

// フロント用ブロック
.pochipp-block__preview pre {
	white-space: pre-wrap;
}
