/**
 * thipboxのiframeの中で読み込まれる
 */
body {
	background-color: #fdfdfd !important;
}

.pcpp-tb {
	box-sizing: border-box;

	* {
		box-sizing: border-box;
	}
}

.pcpp-tb__body {
	padding: 24px;
}

#search_form {
	display: flex;
}

#keywords {
	flex: 1;
	margin: 0 8px;
}

#submit {
	padding: 8px;

	img {
		display: block;
		width: 20px;
		height: 20px;
	}
}

#loading_image {
	display: none;
	padding: 20px;
	text-align: center;
}

.pcpp-tb__area-title {
	margin: 24px 0 16px;
	font-weight: bold;
	font-weight: 700;
	font-size: 16px;
}

.pochipp-items {
	border-top: solid 1px #ededed;
}

.pochipp-item {
	display: flex;
	flex-wrap: wrap;
	padding: 12px;
	border-bottom: solid 1px #ededed;

	&[data-type="registerd"] {
		margin-bottom: 16px;
		background: #f3f3f3;
		border: solid 1px #d7dde0;
	}
}

.pochipp-item__img {
	width: 80px;

	img {
		display: block;
		width: 100%;
		height: auto;
		border: 1px solid #ededed;
	}
}

.pochipp-item__body {
	width: calc(100% - 80px);
	padding-left: 16px;
}

.pochipp-item__title {
	margin-bottom: 8px;
	font-weight: bold;
}

.pochipp-item__info,
.pochipp-item__price {
	font-size: 11px;
}

.pochipp-item__btns {
	width: 100%;
	margin-top: 16px;
}

// *
// loda-stylesで読み込まれるはずの css
// *
div#media-upload-header {
	position: relative;
	margin: 0;
	padding: 5px 5px 0;
	font-weight: 600;
	background: #f9f9f9;
	border-bottom: 1px solid #ddd;
}

#sidemenu {
	position: relative;
	bottom: -1px;
	left: 0;
	float: none;
	margin: 0;
	padding-left: 8px;
	overflow: hidden;
	font-weight: 400;
	font-size: 13px;
	list-style: none;

	li {
		display: inline;
		margin: 0;
		padding: 0;
		line-height: 1.5;
		white-space: nowrap;
		text-align: center;
		list-style: none;
	}

	a {
		display: block;
		float: left;
		padding: 8px 12px;
		line-height: inherit;
		letter-spacing: 0.5px;
		text-decoration: none;
		background-color: #f9f9f9;
		border-top: 1px solid #f9f9f9;
		border-bottom: 1px solid #ddd;
		border-radius: 4px 4px 0 0;
		transition: none;

		&.current {
			// padding-right: 6px;
			// padding-left: 6px;
			color: #000;
			font-weight: 400;
			background-color: #fdfdfd;
			border: 1px solid #ddd;
			border-bottom-color: #fdfdfd;
		}
	}


}
