/**
 * Pochippの設定画面と商品登録ページでしか読み込まれないCSSファイル
 */
@import "./mixin";
@import "./common/**";
@import "./setting/**";

@keyframes pchppRotation {

	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(-360deg);
	}
}


// 設定ページエディター
.post-type-pochipps {

	.interface-interface-skeleton__content > .edit-post-visual-editor {
		background: #e8e8e8;
	}

	.edit-post-visual-editor__post-title-wrapper {
		height: 1px;
		visibility: hidden;
		pointer-events: none;
	}
}

// 設定用ブロック
.pochipp-block--setting {
	max-width: 900px !important;
	padding: 24px;
	background-color: #fdfdfd;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

	.__preview {
		margin: 0;

		.pochipp-box {
			margin: 0 !important;
		}

		&.-null {
			padding: 24px;
			text-align: center;
			border: solid 1px #e8e8e8;

			p {
				margin: 0 !important;
			}
		}

		.__helpText {
			margin-top: 8px;
			color: #666;
			font-size: 12px;
			text-align: right;
		}
	}

	.__btns {
		display: flex;
		justify-content: space-between;
		margin: 24px 0 40px;

		&.-updating {
			pointer-events: none;

			.__searchBtn {
				opacity: 0.5;
			}

			.__updateBtn svg {
				animation: 2s linear infinite pchppRotation;
			}
		}
	}

	.__searchBtn {
		display: flex;
		justify-content: center !important;
		width: 100%;
		height: auto;
		padding: 8px !important;
		font-size: 16px;
		// box-shadow: inset 0 0 2px rgba(255, 255, 255, 1), inset 1px 1px 4px -1px rgba(255, 255, 255, 0.1), 1px 1px 12px -2px rgba(0, 0, 0, 0.2);
	}

	.__updateBtn {
		display: flex;
		justify-content: center !important;
		width: 100%;
		height: auto;
		margin-left: 16px;
		padding: 8px !important;
		font-size: 16px;
		// box-shadow: inset 0 0 2px rgba(255, 255, 255, 1), inset 1px 1px 4px -1px rgba(255, 255, 255, 0.1), 1px 1px 12px -2px rgba(0, 0, 0, 0.2);
	}


	.__setting {

		margin-top: 24px;
		border-top: dashed 1px #dedede;

		.components-base-control {
			margin: 24px 0 0;
		}

		.components-base-control__label {
			margin-left: 1px;
			padding-left: 6px;
			font-size: 14px;
			line-height: 1.5;
			border-left: 2px solid;
		}
	}

	.__note {
		color: #555;
		font-size: 12px;

		&::before {
			margin-right: 4px;
			content: "";
		}
	}


	.components-button.-icon-right {
		flex-direction: row-reverse;

		svg {
			margin-right: 0;
			margin-left: 4px;
		}
	}

	.__btnLinkSettings {

		table {
			width: 100%;
			max-width: 100%;
			font-size: 14px;
			text-align: left;
			border: none;
			border-top: 1px solid #ededed;
			border-right: 1px solid #ededed;
			border-spacing: 0;
		}

		th,
		td {
			padding: 8px 12px;
			vertical-align: middle;
			background: none;
			border-bottom: 1px solid #ededed;
			border-left: 1px solid #ededed;
		}

		th {
			background-color: #f7f7f7;
		}

		@media screen and (max-width: 782px) {

			table,
			tbody,
			th,
			td {
				display: block;
			}

			tr {
				display: flex;
				flex-wrap: wrap;
			}

			th {
				width: 100%;
			}

			td {
				width: 50%;
			}

		}

		.components-button {
			height: auto;
			margin: 4px 0;
			padding: 4px 8px 4px 4px;
			line-height: 1;

			&.-hide {
				visibility: hidden;
				opacity: 0;
				pointer-events: none !important;
			}

			svg {
				margin-right: 4px;
			}

			& + .components-button {
				margin-left: 8px;
			}
		}

	}


	// 確認用 dump データ
	.pochipp-block-dump {
		padding: 20px;
		font-size: 13px;
		background: #f7f7f7;
	}
}


// 投稿一覧テーブル
.manage-column#pid {
	width: 4.5em;
}

.manage-column#pimg {
	width: 56px;
}

.manage-column#searched_at {
	width: 5em;
}

.manage-column#used_at {
	width: 15em;
}

td.used_at.column-used_at {
	display: flex;

	.pchpp-usepage {

		position: relative;
		display: block;
		margin: 4px;
		padding: 4px;
		color: #09648f;
		font-size: 13px;
		line-height: 1;
		border: solid 1px #09648f;
		border-radius: 2px;

		&::after {
			position: absolute;
			right: -24px;
			bottom: 32px;
			z-index: 1;
			display: block;
			width: max-content;
			min-height: 1em;
			padding: 8px;
			color: #48545f;
			background-color: #fff;
			border-radius: 4px;
			box-shadow: 2px 2px 8px 1px #dcdcdc;
			opacity: 0;
			transition: 0.25s;
			content: attr(data-title);
			pointer-events: none;
		}

		&:hover {
			color: #fff;
			background-color: #09648f;

			&::after {
				opacity: 1;
			}
		}
	}
}
