/**
 * Pochippの設定画面と商品登録ページでしか読み込まれない。
 */
@import "./setting/**";

.post-type-pochipps {

	.interface-interface-skeleton__content > .edit-post-visual-editor {
		background: #fdfdfd;
	}

	.editor-post-title {

		textarea.editor-post-title__input {
			font-size: 20px;
		}
	}
}


.edit-post-visual-editor__post-title-wrapper {
	opacity: 0.25;
	pointer-events: none;
}
